<% set_title 'Online Taxi Booking System' -%>
<h1>Online Taxi Booking System</h1>
Welcome to the Online Taxi Booking System. This system is provided to help make booking taxis an easier experience by provided all the tools
you need at one convenient location. Please, look around and help make the taxi booking system better by providing feedback. All functions can
be accessed through the sidebar on the left. Feel free to use the help feature if you require any assistance.<br /><br />
The Online Taxi Booking system was created using Ruby on Rails.