<table class="infotable">
<%= table_element 'Type:',                taxi_type.taxitype                  %>
<%= table_element 'Price Per Kilometer:', "$#{taxi_type.price_per_kilometer}" %>
<%= table_element 'Price Per Minute:',    "$#{taxi_type.price_per_minute}"    %>
<%= table_element 'Flag Fee:',            "$#{taxi_type.flag_fee}"            %>
</table>